.site-footer {
    padding: 1.5rem 1rem .5rem;

    .site-footer-inner {
        @include site-container;
        @include tablet-up {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    #footer-menu {
        list-style: none;
        display: flex;
        margin-top: .5rem;
        margin-bottom: 0;
        padding-left: 0;

        @include tablet-up {
            margin-top: 0;
        }

        .menu-item {
            margin-left: 1rem;
            font-size: 35px;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            &:hover, &:focus, &:active {
                color: $dark-farmhouse-green;
            }
        }
    }
}
