.portfolio-content {
    .port-section {
        margin-bottom: 2rem;
    }

    .port-content {
        background-color: rgba( 200, 200, 200, 0.3 );
        border-radius: 5px;
        padding: 0 2rem 1rem;
        overflow: hidden;
        min-height: 340px;

        @include tablet-up {
            margin-top: -130px;
            padding-top: 130px;
        }
    }

    .port-full {
        display: none;

        img {
            border-radius: 5px;
        }
    }

    .port-img-wrapper {
        max-height: 380px;
        overflow: hidden;

        @include tablet-up {
            width: 85%;
            margin: auto;
        }
    }

    .port-title,
    .port-tech-list,
    .port-excerpt {
        text-align: center;
    }

    .port-excerpt {
        margin-bottom: 0;
    }

    .port-tech-list {
        margin-top: 0;
    }

    .port-more-btn {
        @include remove-btn-defaults;
        @include open-sans-bold;
        margin: auto;
        display: block;
        color: $text-color;
        font-size: 1rem;

        span {
            display: block;
            padding-top: 5px;
        }

        &:hover, &:active, &:focus {
            font-size: 1.1rem;
            color: $dark-farmhouse-green;
            outline: none;
        }
    }
}

#portfolio-sidebar {
    .port-sidebar-link {
        @include link-btn-style;
        display: block;
        width: 200px;
        margin: 1rem auto 0;
        text-align: center;

        .fab,
        .fas {
            padding-right: 5px;
        }
    }
}

.metaslider-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}
