$white: #ffffff;
$darkest: #111111;
$medium-grey: #353535;
$light-grey: #ddd;
$lightest-grey: #f7f7f7;
$farmhouse-green: #bbead9;
$light-farmhouse-green: #eef9f5;
$dark-farmhouse-green: #277f5f;

$max-site-width: 1700px;

$text-color: $darkest;
$box-shadow: #ddd;

$button-color: $darkest;
$button-border-color: $darkest;
$button-hover-color: $white;
$button-hover-border: $darkest;
