body {
    @include open-sans-light;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
    background: url('../../images/tileable_wood.jpg');
}

h1, h2, h3, h4, h5 {
    @include open-sans-bold;

    a {
        text-decoration: none;
    }
}

h2 {
    font-size: 28px;
    line-height: 33px;
}

h3 {
    font-size: 26px;
    line-height: 31px;
}

a, button {
    @include transition;
}

a {
    color: $text-color;

    &:hover, &:visited, &:active, &:focus {
        color: $text-color;
    }
}

button {
    @include main-btn-style;
}

.site-content {
    margin: auto;
    max-width: $max-site-width;
    padding: 1rem;

    @include tablet-up {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
    }
}

.content-area,
.widget-area {
    width: 100%;
    padding: 1rem;
    background-color: $white;
    border-radius: 5px;
    border-top: 5px solid $farmhouse-green;
    box-shadow: 0px 3px 4px -2px $box-shadow;

    @include medium-up {
        padding: 1.3rem;
    }
}

.content-area {
    @include tablet-up {
        width: 70%;
    }
}

.widget-area {
    @include tablet-up {
        width: 28%;
        margin-right: 2%;
    }
}

.entry-title {
    @include open-sans-bold;
    margin: 0 0 .5rem;
}

.post-thumbnail {
    margin-top: 1rem;
    display: block;
}

.more-link {
    @include link-btn-style;
}

.rt-reading-time {
    @include open-sans-bold;
    margin-bottom: 1rem;

    & .post {
        &:after {
            content: "";
            background-image: linear-gradient(to left, $white, $farmhouse-green);
            height: 2px;
            display: block;
            margin-top: 4px;
        }
    }
}

.entry-content {
    strong, b {
        @include open-sans-bold;
    }

    em, i {
        @include open-sans-italic;
    }

    table {
        th, td {
            padding: .5rem;
        }

        tr:first-child {
            th, td {
                background-color: $lightest-grey;
            }
        }
    }
}

.entry-footer {
    background-color: $light-farmhouse-green;
    margin: 0 -1rem;
    padding: 1rem;
    overflow: hidden;

    @include medium-up {
        margin: 0 -1.3rem;
    }

    .cat-links,
    .comments-link {
        display: block;
    }

    .cat-links {
        float: left;
    }

    .comments-link {
        float: right;
    }

    .edit-link {
        clear: both;
        float: left;
    }
}
