/* Media Queries ========================== */

@mixin large-up {
  @media ( min-width: #{1200px} ) {
    @content;
  }
}

@mixin medium-up {
  @media ( min-width: #{992px} ) {
    @content;
  }
}

@mixin tablet-up {
  @media ( min-width: #{768px} ) {
    @content;
  }
}

/* Typography ========================== */

@mixin open-sans-bold {
    font-family: 'open_sans_condensedbold', sans-serif;
}

@mixin open-sans-italic {
    font-family: 'open_sans_condensedLtIt', sans-serif;
}

@mixin open-sans-light {
    font-family: 'open_sans_condensedlight', sans-serif;
}

@mixin handwritten-bold {
    font-family: 'amatic_scbold', sans-serif;
}

@mixin handwritten-regular {
    font-family: 'amatic_scregular', sans-serif;
}

/* Visual ========================== */

@mixin transition {
    transition: all .3s ease-in-out;
}

/* Helpers ========================== */

@mixin remove-btn-defaults {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}


/* Forms ========================== */

@mixin placeholder( $color: $text-color ){
	::-webkit-input-placeholder {
   		color: $color;
	}

	:-moz-placeholder {
	   color: $color;
	}

	::-moz-placeholder {
	   color: $color;
	}

	:-ms-input-placeholder {
	   color: $color;
	}
}
